body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #F5F5F5;
  color: #444444;
  font-family: 'Helvetica Neue', sans-serif;
}

h1 {
  text-align: center;
  margin-top: 0;
  font-size: 3rem;
  color: #3a07f5;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

a {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  font-size: 1.2rem;
  color: #2a0a55;
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

#start-button {
  margin: 20px;
  padding: 20px 30px;
  font-size: 1.5rem;
  border: none;
  border-radius: 20px;
  background-color: #0a0a0a;
  color: #0546fa;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#start-button:hover {
  background-color: #FFFFFF;
  color: #0d0f8b;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

#timer-container {
  margin: 20px;
  font-size: 1.2rem;
  color: #3f024b;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}


#question-text {
  margin: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}

#choices-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 20px;
  background-color: #444444;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* button:hover {
  background-color: #EC407A;
  color: #FFFFFF;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
} */
